/********************************/
/**   F1 2012 Point Finder     **/
/********************************/

//////////////////////////////////
// Base Styles
//////////////////////////////////
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url('../../img/backgrounds/nasty_fabric/nasty_fabric.png');
	padding-top: 41px;
	padding-bottom: 40px;
}

//////////////////////////////////
// Layout Styles
//////////////////////////////////
#app {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 41px;
}

.l-page {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

//////////////////////////////////
// Modules Styles
//////////////////////////////////
.circuit-map {
	height: 100%;
	width: 100%;

	label {
		display: inline !important;
		width: auto !important;
	}

	img {
		max-width: none !important;
	}
}

//////////////////////////////////
// State Styles
//////////////////////////////////