<script id="circuit-points-list" type="text/template">
	<div class="points-list__wrapper">
		<div class="points-list__section">
			<table class="table table-striped table-bordered js-points-table">
				<thead>
					<tr>
						<th colspan="2">Game Coordinates</th>
						<th colspan="2">World Coordinats</th>
						<th class="points-table-header--edit">Actions</th>
					</tr>
					<tr>
						<th>X</th><th>Y</th>
						<th>Lat</th><th>Lng</th>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
				<!--<tfoot>
					<tr>
						<td colspan="4">Click a cell to copy the untruncated value</td>
					</tr>
				</tfoot>-->
			</table>
			<div class="point-list-controls">
				<button class="btn btn-primary points-list__section__add-point-button js-add-point">Add</button>
			</div>
		</div>
	</div>
</script>