<script id="circuit-points-list" type="text/template">
	<div class="points-list">
		<div class="points-list__section">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Game Coordinates</th>
						<th>World Coordinats</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>-</td>
						<td>-</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td><button class="btn btn-primary">Add</button></td>
						<td><button class="btn btn-primary">Add</button></td>
					</tr>
				</tfoot>
			</table>
			<ul class="points-list__list js-points-list__list--cm"></ul>
			<ul class="points-list__list js-points-list__list--f12012pf"></ul>
		</div>
	</div>
</script>