/********************************/
/**   F1 2012 Point Finder     **/
/********************************/
@import "bourbon/_bourbon.scss";

//////////////////////////////////
// Base Styles
//////////////////////////////////
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url('../../img/backgrounds/nasty_fabric/nasty_fabric.png');
	padding-top: 41px;
	padding-bottom: 40px;
}

//////////////////////////////////
// Layout Styles
//////////////////////////////////
#app {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 41px;
}

.l-page {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

//////////////////////////////////
// Modules Styles
//////////////////////////////////
.circuit-map-wrapper {
	height: 100%;
	width: 100%;
	
	.circuit-map {
		@include user-select(none);
		
		height: 100%;
		width: 100%;

		label {
			display: inline !important;
			width: auto !important;
		}

		img {
			max-width: none !important;
		}
	}
}

.map-overlay {
	@include transition (opacity 0.5s ease-in-out);
	@include radial-gradient(50% 50%, circle cover, rgba(0,0,0,.3) 0%, rgba(0,0,0,.77) 100%, $fallback: transparent);
	display: block;
	bottom: 0;
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
}

.map-overlay.is-enabled {
	display: block;
}

.map-overlay.is-visible {
	opacity: 1;
}

.map-overlay.is-disabled {
	display: none;
}

.circuit-selector {
	@include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.27));
	background-color: rgba(255, 255, 255, 0.8);
	top: 0px;
	padding: 10px 45px;
	position: absolute;
	width: 100%;
	z-index: 100;

	label {
		display: inline-block;
		margin: 0 0.5em 0 0;
	}

	select {
		margin: 0;
		vertical-align: baseline;
	}

	.circuit-selector-search {
		display: block;
		float: right;
		height: 30px;
		margin: 0;
		position: relative;

		i {
			margin: -7px 0 0 7px;
			position: absolute;
			top: 50%;
		}

		input {
			@include transition (width 0.25s ease-in-out);
			height: 100%;
			margin: 0;
			padding-left: 27px;
		}
	}

	.circuit-selector-search:after {
		content: "";
		display: table;
		clear: both;
	}
}

.points-list {
	@include transition (all 100ms ease-in-out);
	bottom: 25px;
	max-height: 100%;
	overflow: auto;
	overflow-y: auto;
	pointer-events: none;
	position: absolute;
	right: 6px;
	top: 120px;
	width: 420px;
	z-index: 100;

	.points-list__wrapper {
		@include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.27));
		background-color: rgba(255, 255, 255, 0.8);
		overflow: auto;
		overflow-y: auto;
		padding: 10px;
		pointer-events: auto;
	}

	table {
		background-color: rgba(255, 255, 255, 0.9);
		margin-bottom: 10px;
		table-layout: fixed;

		thead th {
			text-align: center;
		}

		thead th.points-table-header--edit {
			width: 74px;
		}

		thead th.points-table-header--select {
			width: 28px;
		}

		tbody td {
			line-height: 30px;
			overflow: hidden;
			text-align: center;
			text-overflow: ellipsis;

			.points-table-edit {
				margin: 0 0 0 4px;
			}
		}

		input {
			height: 2em;
			padding: 12px 5px;
			margin-bottom: 0;
			width: 100%;
		}
	}

	.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
		background-color: rgba(240, 240, 240, 1);
	}

	tfoot td {
		color: #777;
		font-size: 0.85em;
		font-style: italic;
		text-align: center;
	}

	.divider {
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #fff;
	}

	.points-list__section__add-point-button {
		margin-bottom: 10px;
		width: 100%;
	}

	.points-list__section__save-points-button {
		width: 100%
	}

	.points-list__section__edit-points-button {
		margin-right: 6px;
		width: 195px;
	}

	.points-list__section__done-editing-button {
		margin-right: 6px;
		width: 195px;
	}

	.points-list__section__remove-points-button {
		width: 195px;
	}
}

.pac-container {
	box-sizing: content-box;
	@include border-bottom-radius(5px);
	border-color: rgba(82, 168, 236, 0.8);

	-webkit-box-shadow: 0 4px 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: 0 4px 8px rgba(82, 168, 236, 0.6);
	box-shadow: 0 4px 8px rgba(82, 168, 236, 0.6);

	border-top: none;
	margin-top: -3px;
	padding: 13px 0 0 0;

	.pac-item {
		padding: 5px 20px;
	}

	.pac-item:hover {
		background-color: rgba(82, 168, 236, 0.15);
	}
}

.pac-container::after {
	margin-top: 20px;
	padding: 10px 15px 0 0;
}

.dummy-control {
	height: 55px;
	width: 100%;
	z-index: -100 !important;
}

.slider {
	cursor: pointer;

	&.slider--tile-opacity-slider {
		background: transparent url('static/img/opacity-slider.png') 3px 0 no-repeat;
		height: 19px;
		margin-right: 6px;
		padding: 0 3px;
		position: relative;
		width: 68px;

		.slider__handle {
			background: transparent url('static/img/opacity-slider.png') top right no-repeat;
			cursor: pointer;
			display: block;
			height: 20px;
			left: 0;
			margin-left: -4px;
			position: absolute;
			top: 0;
			width: 14px;
		}
	}
}

//////////////////////////////////
// State Styles
//////////////////////////////////